<html>
<head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="web.js"></script>
  <script src="variables.js"></script>
  <script src="animations.js"></script>
</head>
<body >
<div ng-app="myApp" ng-controller="MyCtrl">
  <div class="container-fluid">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="leftArrowDiv">
      <button id="leftArrow">Left</button>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="formDiv">
      <form ng-submit="create()" id="form">

        <div id="basicInfo">
          <input type="text" class="" placeholder="Web Page Title" ng-model="title"></input>
          <input type="text" class="" placeholder="Your Name" ng-model="name"></input>
          <input type="text" class="" placeholder="Your Email" ng-model="email"></input>
          <input type="text" class="" placeholder="Your Phone Number" ng-model="phoneNumber"></input>
        </div>

        <div id="theImages" style="display: none;">
          <input type="text" class="" placeholder="Picture 1" ng-model="pic1"></input>
          <input type="text" class="" placeholder="Picture 2" ng-model="pic2"></input>
          <input type="text" class="" placeholder="Picture 3" ng-model="pic3"></input>
          <input type="text" class="" placeholder="Picture 4" ng-model="pic4"></input>
          <input type="text" class="" placeholder="Picture 5" ng-model="pic5"></input>
          <input type="text" class="" placeholder="Picture 6" ng-model="pic6"></input>
        </div>

        <div id="moreInfo" style="display: none;">
          <input type="text" class="" size="100%" placeholder="About You" ng-model="aboutMe"></input>
          <input type="text" class="" size="100%" placeholder="Final Info" ng-model="info"></input>
        </div>

        <div id="links" style="display: none;">
          <input type="text" class="" placeholder="Link 1 Title" ng-model="link1Title"></input>
          <input type="text" class="" placeholder="Link 1" ng-model="link1"></input>
          <input type="text" class="" placeholder="Link 2 Title" ng-model="link2Title"></input>
          <input type="text" class="" placeholder="Link 2" ng-model="link2"></input>
        </div>

        <div id="tags" style="display: none;">
          <input type="text" class="" placeholder="Tag 1" ng-model="tag1"></input>
          <input type="text" class="" placeholder="Tag 2" ng-model="tag2"></input>
          <input type="text" class="" placeholder="Tag 3" ng-model="tag3"></input>
          <input type="text" class="" placeholder="Tag 4" ng-model="tag4"></input>
        </div>
         <button type="submit" class="">Create</button>
         <!--<div ng-repeat="post in posts">
         {{post.title}} : {{post.href}}

         </div>-->
      </form>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="rightArrowDiv">
        <button id="rightArrow">right</button>
    </div>
  </div>
      <title ng-bind-html="titleDisplay"></title>
      <div ng-bind-html="page"></div>
      <div><textarea ng-bind="html" ng-style="textArea"></textarea></div>
</div>


</body>

<script>

</script>
</html>